{% set master_cnt = cluster.master.count if 'master' in cluster and 'count' in cluster.master else kops_default_master_count %}
{% set master_azs = cluster.master.az if 'master' in cluster and 'az' in cluster.master else kops_default_master_az %}
{% for n in range(0, master_cnt) %}
{# mod operation #}
{% set index = n % (master_azs | length) %}
{% set curr_az = master_azs[index] %}
{% set subnet = kops_private_subnets[curr_az] %}
---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{ cluster.name }}
  name: master-{{ subnet.az }}
spec:
  image: {{ cluster.image | default(kops_default_image) }}
  machineType: {% if 'master' in cluster and 'instance_type' in cluster.master %}{{ cluster.master.instance_type }}{% else %}{{ kops_default_master_instance_type }}{% endif %}

  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: master-{{ subnet.az }}
  role: Master
  subnets:
    - {{ subnet.az }}

{% endfor %}
