#/usr/bin/env bash

set -e
set -u
set -o pipefail

NAME="{{ cluster.name }}"
KOPS_STATE_STORE="s3://{{ cluster.s3_bucket_name }}"


echo "#------------------------------------------------------------"
echo "# Info"
echo "#------------------------------------------------------------"
echo "kops validate cluster --state ${KOPS_STATE_STORE} --name ${NAME}"
