#!/usr/bin/env bash

set -e
set -u
set -o pipefail

SCRIPTPATH="$( cd "$(dirname "$0")" ; pwd -P )"

NAME="{{ cluster.name }}"
KOPS_STATE_STORE="s3://{{ cluster.s3_bucket_name }}"

RUN=0
{% raw %}
if [ "${#}" -gt "0" ] && [ "${1}" = "--yes" ]; then
{% endraw %}
	RUN=1
fi

{# Start of AWS Account check #}
{% if kops_default_aws_account_limit | length > 0 %}
if [ "${RUN}" -eq "1" ]; then
	if ! command -v aws >/dev/null 2>&1; then
		>&2 echo "Error, aws binary not available but required to check for correct AWS account."
		exit 1
	fi
	if ! AWS_ACCOUNT="$( aws sts get-caller-identity --output text --query 'Account' )"; then
		>&2 echo "Error, 'aws sts get-caller-identity' failed."
		exit 1
	fi
	FOUND=0
{% for acc in kops_default_aws_account_limit %}
	if [ "${AWS_ACCOUNT}" = "{{ acc }}" ]; then
		FOUND=1
	fi
{% endfor %}
	if [ "${FOUND}" -ne "1" ]; then
		>&2 echo "Error, ${AWS_ACCOUNT} is not allowed."
		exit 1
	fi
fi
{% endif %}
{# End of AWS Account check #}


echo
echo
echo "#================================================================================"
echo "#"
echo "#   C R E A T E   K O P S   C L U S T E R"
echo "#"
if [ "${RUN}" -eq "1" ]; then
	echo "#   !!! EXECUTING COMMANDS !!!"
else
	echo "#   NOTES: RUN WITH '--yes' to execute this script."
fi
echo "#"
echo "#================================================================================"
echo
echo



echo "#------------------------------------------------------------"
echo "# 1/2 Create Kops configuration on S3"
echo "#------------------------------------------------------------"

echo "kops create --state ${KOPS_STATE_STORE} --name ${NAME} -f cluster.yml"
if [ "${RUN}" -eq "1" ]; then
	kops create --state ${KOPS_STATE_STORE} --name ${NAME} -f "${SCRIPTPATH}/cluster.yml"
fi

echo "kops create --state ${KOPS_STATE_STORE} --name ${NAME} -f instance-groups.yml"
if [ "${RUN}" -eq "1" ]; then
	kops create --state ${KOPS_STATE_STORE} --name ${NAME} -f "${SCRIPTPATH}/instance-groups.yml"
fi

echo "kops create secret --state ${KOPS_STATE_STORE} --name ${NAME} sshpublickey admin -i ./ssh-key.pub"
if [ "${RUN}" -eq "1" ]; then
	kops create secret --state ${KOPS_STATE_STORE} --name ${NAME} sshpublickey admin -i "${SCRIPTPATH}/ssh-key.pub"
fi
echo



echo "#------------------------------------------------------------"
echo "# 2/2 Roll out Cluster configuration"
echo "#------------------------------------------------------------"

echo "kops update cluster --state ${KOPS_STATE_STORE} --name ${NAME} --create-kube-config=false"
if [ "${RUN}" -eq "1" ]; then
	kops update cluster --state ${KOPS_STATE_STORE} --name ${NAME} --create-kube-config=false
fi

echo "kops update cluster --state ${KOPS_STATE_STORE} --name ${NAME} --create-kube-config=false --yes"
if [ "${RUN}" -eq "1" ]; then
	kops update cluster --state ${KOPS_STATE_STORE} --name ${NAME} --create-kube-config=false --yes
fi
echo
