#/usr/bin/env bash

set -e
set -u
set -o pipefail

export NAME="{{ cluster.name }}"
export KOPS_STATE_STORE="s3://{{ cluster.s3_bucket_name | default(cluster.name | regex_search('^([-_a-zA-Z0-9]+)\.', '\\1') | first + '-state-store') }}/{{ cluster.name }}"

echo "kops replace -f cluster.yml"
echo "kops replace -f ig-master.yml"
echo "kops replace -f ig-worker.yml"
echo "kops replace -f ig-bastion.yml"

echo "kops update cluster \${NAME}"
echo "kops update cluster \${NAME} --yes"

echo "kops rolling-update cluster \${NAME}"
echo "kops rolling-update cluster \${NAME} --yes"
